.row-fluid
  .col-md-12
    .grid.simple
      .grid-title
        %h4.semi-bold
          ="#{@actor.name}'s tweets most Retweeted"
        .tools
          %a.marg-t-10.reload{:href => "javascript:;"}
      .grid-body
        .row
          #retweets-table.col-md-12
            = render 'retweets_table'

:javascript
