img._eloisagonzalez { width: 300px; height: 300px; background: url(actor_images.png) 0px 0px no-repeat; }
img._feucen { width: 300px; height: 300px; background: url(actor_images.png) -300px 0px no-repeat; }
img._isabelsalgado { width: 300px; height: 300px; background: url(actor_images.png) 0px -300px no-repeat; }
img._marioalbertod { width: 300px; height: 300px; background: url(actor_images.png) -300px -300px no-repeat; }
img.aalegred { width: 300px; height: 300px; background: url(actor_images.png) -600px 0px no-repeat; }
img.acouble { width: 300px; height: 300px; background: url(actor_images.png) -600px -300px no-repeat; }
img.afielbaum { width: 300px; height: 300px; background: url(actor_images.png) 0px -600px no-repeat; }
img.alexis_gonzlz { width: 300px; height: 300px; background: url(actor_images.png) -300px -600px no-repeat; }
img.alvarobeckdorf { width: 300px; height: 300px; background: url(actor_images.png) -600px -600px no-repeat; }
img.andresdouglasr { width: 300px; height: 300px; background: url(actor_images.png) -900px 0px no-repeat; }
img.angelitajaviera { width: 300px; height: 300px; background: url(actor_images.png) -900px -300px no-repeat; }
img.ankalao { width: 300px; height: 300px; background: url(actor_images.png) -900px -600px no-repeat; }
img.bernardo_barria { width: 300px; height: 300px; background: url(actor_images.png) 0px -900px no-repeat; }
img.borisnegrete { width: 300px; height: 300px; background: url(actor_images.png) -300px -900px no-repeat; }
img.cajitadejugo { width: 300px; height: 300px; background: url(actor_images.png) -600px -900px no-repeat; }
img.cami_carrascoh { width: 300px; height: 300px; background: url(actor_images.png) -900px -900px no-repeat; }
img.camila_vallejo { width: 300px; height: 300px; background: url(actor_images.png) -1200px 0px no-repeat; }
img.camiloriffo { width: 300px; height: 300px; background: url(actor_images.png) -1200px -300px no-repeat; }
img.carlos_ruminott { width: 300px; height: 300px; background: url(actor_images.png) -1200px -600px no-repeat; }
img.carocatomas { width: 300px; height: 300px; background: url(actor_images.png) -1200px -900px no-repeat; }
img.carolina_jarap { width: 300px; height: 300px; background: url(actor_images.png) 0px -1200px no-repeat; }
img.chiko_maty { width: 300px; height: 300px; background: url(actor_images.png) -300px -1200px no-repeat; }
img.chilealamoneda { width: 300px; height: 300px; background: url(actor_images.png) -600px -1200px no-repeat; }
img.chriistopher_xd { width: 300px; height: 300px; background: url(actor_images.png) -900px -1200px no-repeat; }
img.coneschile { width: 300px; height: 300px; background: url(actor_images.png) -1200px -1200px no-repeat; }
img.confech { width: 300px; height: 300px; background: url(actor_images.png) -1500px 0px no-repeat; }
img.coni_nogues { width: 300px; height: 300px; background: url(actor_images.png) -1500px -300px no-repeat; }
img.constanzaleyton { width: 300px; height: 300px; background: url(actor_images.png) -1500px -600px no-repeat; }
img.consufonte { width: 300px; height: 300px; background: url(actor_images.png) -1500px -900px no-repeat; }
img.creceruc { width: 300px; height: 300px; background: url(actor_images.png) -1500px -1200px no-repeat; }
img.cris_sarabia { width: 300px; height: 300px; background: url(actor_images.png) 0px -1500px no-repeat; }
img.crislagos { width: 300px; height: 300px; background: url(actor_images.png) -300px -1500px no-repeat; }
img.d_cid { width: 300px; height: 300px; background: url(actor_images.png) -600px -1500px no-repeat; }
img.danaediazjeria { width: 300px; height: 300px; background: url(actor_images.png) -900px -1500px no-repeat; }
img.danielapobletep { width: 300px; height: 300px; background: url(actor_images.png) -1200px -1500px no-repeat; }
img.danirslz { width: 300px; height: 300px; background: url(actor_images.png) -1500px -1500px no-repeat; }
img.delegconfechuc { width: 300px; height: 300px; background: url(actor_images.png) -1800px 0px no-repeat; }
img.deudaeducativa { width: 300px; height: 300px; background: url(actor_images.png) -1800px -300px no-repeat; }
img.difusion_aces { width: 300px; height: 300px; background: url(actor_images.png) -1800px -600px no-repeat; }
img.eliaslonconado { width: 300px; height: 300px; background: url(actor_images.png) -1800px -900px no-repeat; }
img.elperrotracio { width: 300px; height: 300px; background: url(actor_images.png) -1800px -1200px no-repeat; }
img.elrodrigoduran { width: 300px; height: 300px; background: url(actor_images.png) -1800px -1500px no-repeat; }
img.estafados_corfo { width: 300px; height: 300px; background: url(actor_images.png) 0px -1800px no-repeat; }
img.fco_acunac { width: 300px; height: 300px; background: url(actor_images.png) -300px -1800px no-repeat; }
img.fdasandoval { width: 300px; height: 300px; background: url(actor_images.png) -600px -1800px no-repeat; }
img.fecudec { width: 300px; height: 300px; background: url(actor_images.png) -900px -1800px no-repeat; }
img.fedepudp { width: 300px; height: 300px; background: url(actor_images.png) -1200px -1800px no-repeat; }
img.fedeunap { width: 300px; height: 300px; background: url(actor_images.png) -1500px -1800px no-repeat; }
img.fel_stgo { width: 300px; height: 300px; background: url(actor_images.png) -1800px -1800px no-repeat; }
img.feliperasa { width: 300px; height: 300px; background: url(actor_images.png) -2100px 0px no-repeat; }
img.felipesalga { width: 300px; height: 300px; background: url(actor_images.png) -2100px -300px no-repeat; }
img.felipevargasr { width: 300px; height: 300px; background: url(actor_images.png) -2100px -600px no-repeat; }
img.feluchile { width: 300px; height: 300px; background: url(actor_images.png) -2100px -900px no-repeat; }
img.feppedagogico { width: 300px; height: 300px; background: url(actor_images.png) -2100px -1200px no-repeat; }
img.fepucv { width: 300px; height: 300px; background: url(actor_images.png) -2100px -1500px no-repeat; }
img.feuachuach { width: 300px; height: 300px; background: url(actor_images.png) -2100px -1800px no-repeat; }
img.feuai_stgo { width: 300px; height: 300px; background: url(actor_images.png) 0px -2100px no-repeat; }
img.feuandes { width: 300px; height: 300px; background: url(actor_images.png) -300px -2100px no-repeat; }
img.feuantofagasta { width: 300px; height: 300px; background: url(actor_images.png) -600px -2100px no-repeat; }
img.feubb { width: 300px; height: 300px; background: url(actor_images.png) -900px -2100px no-repeat; }
img.feubo_oficial { width: 300px; height: 300px; background: url(actor_images.png) -1200px -2100px no-repeat; }
img.feuc { width: 300px; height: 300px; background: url(actor_images.png) -1500px -2100px no-repeat; }
img.feucm2011 { width: 300px; height: 300px; background: url(actor_images.png) -1800px -2100px no-repeat; }
img.feucn { width: 300px; height: 300px; background: url(actor_images.png) -2100px -2100px no-repeat; }
img.feucncqbo { width: 300px; height: 300px; background: url(actor_images.png) -2400px 0px no-repeat; }
img.feudd_stgo { width: 300px; height: 300px; background: url(actor_images.png) -2400px -300px no-repeat; }
img.feudmvina { width: 300px; height: 300px; background: url(actor_images.png) -2400px -600px no-repeat; }
img.feufro { width: 300px; height: 300px; background: url(actor_images.png) -2400px -900px no-repeat; }
img.feuls { width: 300px; height: 300px; background: url(actor_images.png) -2400px -1200px no-repeat; }
img.feupla { width: 300px; height: 300px; background: url(actor_images.png) -2400px -1500px no-repeat; }
img.feusach { width: 300px; height: 300px; background: url(actor_images.png) -2400px -1800px no-repeat; }
img.feusam { width: 300px; height: 300px; background: url(actor_images.png) -2400px -2100px no-repeat; }
img.feusmjmc { width: 300px; height: 300px; background: url(actor_images.png) 0px -2400px no-repeat; }
img.feustsantiago { width: 300px; height: 300px; background: url(actor_images.png) -300px -2400px no-repeat; }
img.feutal2013 { width: 300px; height: 300px; background: url(actor_images.png) -600px -2400px no-repeat; }
img.feutem { width: 300px; height: 300px; background: url(actor_images.png) -900px -2400px no-repeat; }
img.feutfsm { width: 300px; height: 300px; background: url(actor_images.png) -1200px -2400px no-repeat; }
img.feuv { width: 300px; height: 300px; background: url(actor_images.png) -1500px -2400px no-repeat; }
img.feuvsantiago { width: 300px; height: 300px; background: url(actor_images.png) -1800px -2400px no-repeat; }
img.fevunab { width: 300px; height: 300px; background: url(actor_images.png) -2100px -2400px no-repeat; }
img.florespineda { width: 300px; height: 300px; background: url(actor_images.png) -2400px -2400px no-repeat; }
img.franciscolabrav { width: 300px; height: 300px; background: url(actor_images.png) -2700px 0px no-repeat; }
img.franciscosainz { width: 300px; height: 300px; background: url(actor_images.png) -2700px -300px no-repeat; }
img.gabrielboric { width: 300px; height: 300px; background: url(actor_images.png) -2700px -600px no-repeat; }
img.geo_sur { width: 300px; height: 300px; background: url(actor_images.png) -2700px -900px no-repeat; }
img.germainquintana { width: 300px; height: 300px; background: url(actor_images.png) -2700px -1200px no-repeat; }
img.giorgiojackson { width: 300px; height: 300px; background: url(actor_images.png) -2700px -1500px no-repeat; }
img.godoy_jc { width: 300px; height: 300px; background: url(actor_images.png) -2700px -1800px no-repeat; }
img.goyarzun { width: 300px; height: 300px; background: url(actor_images.png) -2700px -2100px no-repeat; }
img.guillermo_peter { width: 300px; height: 300px; background: url(actor_images.png) -2700px -2400px no-repeat; }
img.henry_varas { width: 300px; height: 300px; background: url(actor_images.png) 0px -2700px no-repeat; }
img.infestudiantes { width: 300px; height: 300px; background: url(actor_images.png) -300px -2700px no-repeat; }
img.informanteuda { width: 300px; height: 300px; background: url(actor_images.png) -600px -2700px no-repeat; }
img.intialavia { width: 300px; height: 300px; background: url(actor_images.png) -900px -2700px no-repeat; }
img.inzulzaalberto { width: 300px; height: 300px; background: url(actor_images.png) -1200px -2700px no-repeat; }
img.iriartecore { width: 300px; height: 300px; background: url(actor_images.png) -1500px -2700px no-repeat; }
img.ismaelsoruco { width: 300px; height: 300px; background: url(actor_images.png) -1800px -2700px no-repeat; }
img.izqautonoma { width: 300px; height: 300px; background: url(actor_images.png) -2100px -2700px no-repeat; }
img.izquierda_tuit { width: 300px; height: 300px; background: url(actor_images.png) -2400px -2700px no-repeat; }
img.j_miranda_s { width: 300px; height: 300px; background: url(actor_images.png) -2700px -2700px no-repeat; }
img.javier_fano { width: 300px; height: 300px; background: url(actor_images.png) -3000px 0px no-repeat; }
img.javijadue { width: 300px; height: 300px; background: url(actor_images.png) -3000px -300px no-repeat; }
img.jjcc_chile { width: 300px; height: 300px; background: url(actor_images.png) -3000px -600px no-repeat; }
img.jmiguelprieto { width: 300px; height: 300px; background: url(actor_images.png) -3000px -900px no-repeat; }
img.jorbritoh { width: 300px; height: 300px; background: url(actor_images.png) -3000px -1200px no-repeat; }
img.josefinaprivas { width: 300px; height: 300px; background: url(actor_images.png) -3000px -1500px no-repeat; }
img.krivera_uls { width: 300px; height: 300px; background: url(actor_images.png) -3000px -1800px no-repeat; }
img.la_fech { width: 300px; height: 300px; background: url(actor_images.png) -3000px -2100px no-repeat; }
img.leoiec { width: 300px; height: 300px; background: url(actor_images.png) -3000px -2400px no-repeat; }
img.maceuai { width: 300px; height: 300px; background: url(actor_images.png) -3000px -2700px no-repeat; }
img.mapa_ruiz_ { width: 300px; height: 300px; background: url(actor_images.png) 0px -3000px no-repeat; }
img.marjoriecuello { width: 300px; height: 300px; background: url(actor_images.png) -300px -3000px no-repeat; }
img.mesup_chile { width: 300px; height: 300px; background: url(actor_images.png) -600px -3000px no-repeat; }
img.mguc { width: 300px; height: 300px; background: url(actor_images.png) -900px -3000px no-repeat; }
img.moisesparedesr { width: 300px; height: 300px; background: url(actor_images.png) -1200px -3000px no-repeat; }
img.mrcvelarde { width: 300px; height: 300px; background: url(actor_images.png) -1500px -3000px no-repeat; }
img.natalyespin0za { width: 300px; height: 300px; background: url(actor_images.png) -1800px -3000px no-repeat; }
img.naupuc { width: 300px; height: 300px; background: url(actor_images.png) -2100px -3000px no-repeat; }
img.noamtitelman { width: 300px; height: 300px; background: url(actor_images.png) -2400px -3000px no-repeat; }
img.orleansromero { width: 300px; height: 300px; background: url(actor_images.png) -2700px -3000px no-repeat; }
img.pablo_fepucv { width: 300px; height: 300px; background: url(actor_images.png) -3000px -3000px no-repeat; }
img.pabloreyes_f { width: 300px; height: 300px; background: url(actor_images.png) -3300px 0px no-repeat; }
img.palta_mayo { width: 300px; height: 300px; background: url(actor_images.png) -3300px -300px no-repeat; }
img.panchofigueroa { width: 300px; height: 300px; background: url(actor_images.png) -3300px -600px no-repeat; }
img.paonessa { width: 300px; height: 300px; background: url(actor_images.png) -3300px -900px no-repeat; }
img.pato_contreras_ { width: 300px; height: 300px; background: url(actor_images.png) -3300px -1200px no-repeat; }
img.patricio_indo { width: 300px; height: 300px; background: url(actor_images.png) -3300px -1500px no-repeat; }
img.pepoglatz { width: 300px; height: 300px; background: url(actor_images.png) -3300px -1800px no-repeat; }
img.pipe_higueras { width: 300px; height: 300px; background: url(actor_images.png) -3300px -2100px no-repeat; }
img.pipovaldebenito { width: 300px; height: 300px; background: url(actor_images.png) -3300px -2400px no-repeat; }
img.pjgonzalez_ { width: 300px; height: 300px; background: url(actor_images.png) -3300px -2700px no-repeat; }
img.pmillalen { width: 300px; height: 300px; background: url(actor_images.png) -3300px -3000px no-repeat; }
img.privmovilizadas { width: 300px; height: 300px; background: url(actor_images.png) 0px -3300px no-repeat; }
img.raecheco { width: 300px; height: 300px; background: url(actor_images.png) -300px -3300px no-repeat; }
img.rdemocratica { width: 300px; height: 300px; background: url(actor_images.png) -600px -3300px no-repeat; }
img.rebecagaetes { width: 300px; height: 300px; background: url(actor_images.png) -900px -3300px no-repeat; }
img.recarex { width: 300px; height: 300px; background: url(actor_images.png) -1200px -3300px no-repeat; }
img.regnerelgueta { width: 300px; height: 300px; background: url(actor_images.png) -1500px -3300px no-repeat; }
img.rodrigosion { width: 300px; height: 300px; background: url(actor_images.png) -1800px -3300px no-repeat; }
img.sdonoso_ { width: 300px; height: 300px; background: url(actor_images.png) -2100px -3300px no-repeat; }
img.sebafarfans { width: 300px; height: 300px; background: url(actor_images.png) -2400px -3300px no-repeat; }
img.sebagamboa_ { width: 300px; height: 300px; background: url(actor_images.png) -2700px -3300px no-repeat; }
img.sebagodoyelguet { width: 300px; height: 300px; background: url(actor_images.png) -3000px -3300px no-repeat; }
img.sebavielmas { width: 300px; height: 300px; background: url(actor_images.png) -3300px -3300px no-repeat; }
img.secundarios { width: 300px; height: 300px; background: url(actor_images.png) -3600px 0px no-repeat; }
img.solidaridaduc { width: 300px; height: 300px; background: url(actor_images.png) -3600px -300px no-repeat; }
img.sr_ballesteros { width: 300px; height: 300px; background: url(actor_images.png) -3600px -600px no-repeat; }
img.u_informado { width: 300px; height: 300px; background: url(actor_images.png) -3600px -900px no-repeat; }
img.ucscconcepcion { width: 300px; height: 300px; background: url(actor_images.png) -3600px -1200px no-repeat; }
img.unavico { width: 300px; height: 300px; background: url(actor_images.png) -3600px -1500px no-repeat; }
img.une_chile { width: 300px; height: 300px; background: url(actor_images.png) -3600px -1800px no-repeat; }
img.valeilic { width: 300px; height: 300px; background: url(actor_images.png) -3600px -2100px no-repeat; }
img.valessoncilla { width: 300px; height: 300px; background: url(actor_images.png) -3600px -2400px no-repeat; }
img.vargassasmay { width: 300px; height: 300px; background: url(actor_images.png) -3600px -2700px no-repeat; }
img.velagrau { width: 300px; height: 300px; background: url(actor_images.png) -3600px -3000px no-repeat; }
img.vlatorre { width: 300px; height: 300px; background: url(actor_images.png) -3600px -3300px no-repeat; }
img.yoxcycampos { width: 300px; height: 300px; background: url(actor_images.png) 0px -3600px no-repeat; }