/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require select2
 *= require select2-bootstrap
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

#loading{
    z-index: 10;
    background: rgba(255,255,255,.9);
    width: 100%;
    display: block;
    position: absolute;
    height: 100%;
}

#loading .content{
    position: absolute;
    left:50%;
    top: 50%;
}

.actor-img{
    height: 50px;
    width: 50px;
    float: left;
    /*margin: 5px;*/

}

.selected{
    border: 2px solid #0088cc;
}

.tiles.selected{
    border:none;
}

.actor-img img.sprite{
    zoom: .15;
    display: inline-block;
    border: none;
}

.clickable:not(.disabled)
{
    cursor: pointer;
}

img.sprite.disabled {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: opacity(30%);
    -webkit-filter: opacity(30%);
    /*background-image: url(https://dl.dropboxusercontent.com/u/70382015/Doto/spritesheet-grayscale.png);*/
}
img.sprite.hint{
    border: 2px solid #e3dc31;
}


#query-hint {
    color: #999;
    position: absolute;
    background: #fff;
    z-index: -1;
}

.grid.simple .grid-title {
    background-color: transparent;
}
#query {
    background-color: transparent !important;
    color: #333;
}

.relative {
    position: relative
}